<section class="card">
  <header>
    <h2>{{card.name}}</h2>
  </header>
  <div class="card__photo">
    <img [src]="card.pic" alt="Photo of a Shiba Inu">
    
    <div class="card__cta">
      <button #cardLike (click)="onLike(card)" 
        [class]="buttonColor(card.likes)">
        <img src="../../../assets/like.svg" width="50" height="50">
        <small>
          {{card.likes}}
        </small>
        <img *ngIf="showAnimation" src="../../../assets/like.svg" width="50" height="50">
      </button>
      <button class="card__share" (click)="onShare()">SHARE</button>
    </div>
  </div>
  <div class="card__content">
    <p>
      {{card.description}}
    </p>
  </div>
  <div>
  </div>
</section>